In [5]:


from __mq import EProjectPrivilege, EDatasetPrivilege, EAuthorizationType

import maquette_sdk

ModuleNotFoundError: No module named 'pandavro'

## Working with namespaces

In [2]:
mqpy.Namespace('mwellner').create()
mqpy.namespaces()

       NAME  OWNER             MODIFIED  DATASETS
0     hippo  hippo  2019-09-22 12:13:17         1
1  mwellner  hippo  2019-09-22 12:13:03         0

In [4]:
mqpy.datasets()

            NAME  VERSIONS  OWNER IS PRIVATE             MODIFIED MODIFIED BY
0  hippo/my-data         3  hippo         no  2019-09-29 15:11:18       hippo

In [5]:
ns = mqpy.Namespace()

In [6]:
ns \
    .grant(NsPrivilege.MEMBER, Auth.USER, 'foo') \
    .print()

print()
print('---')
print()

ns.revoke(NsPrivilege.MEMBER, Auth.USER, 'foo')

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-22 12:13:03
CREATED BY     hippo

MODIFIED       2019-09-29 15:11:33
MODIFIED BY    hippo

DATASETS       1


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT
foo           member       hippo         2019-09-29 15:11:33



---

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-22 12:13:03
CREATED BY     hippo

MODIFIED       2019-09-29 15:11:33
MODIFIED BY    hippo

DATASETS       1


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT

## Working with Datasets

Datasets can be access via their parent namespace object.

In [7]:
ns.datasets()

            NAME  VERSIONS  OWNER IS PRIVATE             MODIFIED MODIFIED BY
0  hippo/my-data         3  hippo         no  2019-09-29 15:11:18       hippo

In [8]:
ds = ns.dataset('my-data')
ds.create()

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-29 15:11:18
CREATED BY     hippo

MODIFIED       2019-09-29 15:11:18
MODIFIED BY    hippo

VERSIONS       3


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT

In [9]:
ds \
    .grant(DsPrivilege.CONSUMER, Auth.WILDCARD) \
    .print()

print()
print('---')
print()

ds \
    .revoke(DsPrivilege.CONSUMER, Auth.WILDCARD)

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-29 15:11:18
CREATED BY     hippo

MODIFIED       2019-09-29 15:11:18
MODIFIED BY    hippo

VERSIONS       3


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT
*             consumer     hippo         2019-09-29 15:11:53



---

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-29 15:11:18
CREATED BY     hippo

MODIFIED       2019-09-29 15:11:18
MODIFIED BY    hippo

VERSIONS       3


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT

In [16]:
ds \
   .create_consumer() \
   .create_producer()

Created consumer token 'consumer-0025b895' with secret 'ef8899db-382e-43d6-8b20-722e5d62aab2'
Created producer token 'producer-f89bb6cc' with secret '2c1d83c3-69da-424e-8a3a-a7bc9663f5ab'

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-29 15:11:18
CREATED BY     hippo

MODIFIED       2019-09-29 15:11:18
MODIFIED BY    hippo

VERSIONS       3


ACCESS CONTROL
--------------
GRANTED TO                                     PRIVILEGE    GRANTED BY    GRANTED AT
token(36ef5d66-830f-45fc-8ae8-26d0e07a913e)    consumer     hippo         2019-09-29 15:12:29
token(fc872b2b-2f3e-43fd-9537-86c94e5d11f5)    producer     hippo         2019-09-29 15:12:29

In [11]:
ds

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-29 15:11:18
CREATED BY     hippo

MODIFIED       2019-09-29 15:11:18
MODIFIED BY    hippo

VERSIONS       3


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT

In [12]:
ds.versions()

,VERSION,RECORDS,MODIFIED,BY,ID
0,1.2.0,700,2019-09-22 14:11:07,hippo,c59a8708-72c6-4255-b353-ee7d833ff283
1,1.1.0,700,2019-09-22 12:32:33,hippo,429febcf-9bbd-4e79-9b76-3d1f124ec02e
2,1.0.0,700,2019-09-22 12:13:55,hippo,cf56dfb3-0fbc-4cd3-980a-143e325f3d77

In [13]:
version = ds.version('1.0.0')
version

VERSION 1.0.0

PROPERTIES
----------
ID                   cf56dfb3-0fbc-4cd3-980a-143e325f3d77
RECORDS              700

SHORT DESCRIPTION    Published from Java
COMMITTED            2019-09-22 12:13:55
COMMITTED BY         hippo

CREATED              2019-09-22 12:13:55
CREATED BY           hippo

MODIFIED             2019-09-22 12:13:55
MODIFIED BY          hippo


SCHEMA
------
{
  "type" : "record",
  "name" : "Country",
  "namespace" : "maquette.sdk.sample",
  "fields" : [ {
    "name" : "name",
    "type" : "string"
  }, {
    "name" : "capital",
    "type" : "string"
  }, {
    "name" : "population",
    "type" : "int"
  }, {
    "name" : "area",
    "type" : "int"
  } ]
}

## Get and Put datasets

In [14]:
df = version.get()
df.head()

        area         capital           name  population
0    9388211          Peking          China  1433783686
1    2973190       New-Dehli          India  1366417754
2    9147420  Washington D.C  United States   329064917
3    8400000       Sao Paolo         Brazil   211000000
4  164000000          Moscow         Russia   146000000

In [18]:
ds.put(df, 'some descritpion')

VERSION 2.0.0

PROPERTIES
----------
ID                   11388a48-2501-4c35-b334-336794882529
RECORDS              700

SHORT DESCRIPTION    some descritpion
COMMITTED            2019-09-18 23:50:17
COMMITTED BY         hippo

CREATED              2019-09-18 23:50:17
CREATED BY           hippo

MODIFIED             2019-09-18 23:50:17
MODIFIED BY          hippo


SCHEMA
------
{
  "type" : "record",
  "name" : "Root",
  "fields" : [ {
    "name" : "area",
    "type" : [ "null", "long" ]
  }, {
    "name" : "capital",
    "type" : [ "null", "string" ]
  }, {
    "name" : "name",
    "type" : [ "null", "string" ]
  }, {
    "name" : "population",
    "type" : [ "null", "long" ]
  } ]
}

# Admin functions

In [17]:
mqpy.admin().tokens()

,NAME,ID,CREATED,CREATED BY,MODIFIED,MODIFIED BY
0,consumer-0025b895,36ef5d66-830f-45fc-8ae8-26d0e07a913e,2019-09-29 15:12:29,hippo,2019-09-29 15:12:29,hippo
1,producer-f89bb6cc,fc872b2b-2f3e-43fd-9537-86c94e5d11f5,2019-09-29 15:12:29,hippo,2019-09-29 15:12:29,hippo

In [18]:
mqpy.admin().renew_token('producer-f89bb6cc')

Renewed token 'producer-f89bb6cc' with secret '57af9e75-568a-44ea-b322-940cd2695d64'

In [19]:
mqpy.admin().tokens()

,NAME,ID,CREATED,CREATED BY,MODIFIED,MODIFIED BY
0,producer-f89bb6cc,fc872b2b-2f3e-43fd-9537-86c94e5d11f5,2019-09-29 15:12:29,hippo,2019-09-29 15:12:42,hippo
1,consumer-0025b895,36ef5d66-830f-45fc-8ae8-26d0e07a913e,2019-09-29 15:12:29,hippo,2019-09-29 15:12:29,hippo