In [1]:
"""
Tests grouping with mulitple value outputs, that then get used in a calculation

Steps:
- Run this cell.
- Click the group button:
    - Select df1 as the sheet
    - Select Name as the group by key
    - Add two values, one for (Height, mean) and the other for (Weight, sum)
    - Click group
- Open the new sheet, and create a new column. Rename it to Height_Weight, and calculate the Height / Weight.
- Run the generated code, and make sure it defines df2 correctly.
- Rerun this cell, and make sure the defined column in df2 is still editable.
"""
import mitosheet
import pandas as pd
df1 = pd.DataFrame(data={'Name': ['Nate', 'Nate', 'Aaron', 'Aaron'], 'Height': [4, 5, 6, 7], 'Weight': [100, 200, 300, 400]})
mitosheet.sheet(df1)

MitoWidget(code_json='{"imports": "from mitosheet import *", "code": []}', column_filters_json='[{"Name": [], â€¦

In [ ]:
# MITO CODE START (DO NOT EDIT)
# SAVED-ANALYSIS-STARTUUID-547ea281-eba3-4b81-8a7e-9ec0f0ac9d25SAVED-ANALYSIS-END

from mitosheet import *

# Step 1

df1 = df1[(df1['Weight'] >= 100) & (df1['Weight'] <= 200)]
  
# MITO CODE END (DO NOT EDIT)

   Name  Height  Weight
0  Nate       4     100
1  Nate       5     200